# Dataset (too large for version control)
chest_xray/
Dataset-Final/
*.zip

# Kaggle credentials
kaggle.json

# # Trained model weights
# outputs/models/*.keras
# outputs/models/*.h5

# Jupyter artifacts
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/

# OS
.DS_Store
Thumbs.db
